body {
  width: 322px;
  box-shadow: 0 5px 5px 0;
}
ul.item-list {
  list-style-type: none;
  padding-left: 0;
}
.border {
  border-style: solid;
  border-width: thin;
  padding: 0 10px 10px 10px;
}
.animal-img {
  padding-bottom: 10px;
  width: 300px;
}

.animal-info {
  width: 280px;
}
